@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base{

    *,
    ::before,
    ::after{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    *{

        scroll-behavior: smooth;
    }

    body{
        font-family: 'Manrope', sans-serif;
        position: relative;
        min-height: 100vh;
        line-height: 1.7;
    }

    img{
        display: block;
        width: 100%;
        height: 100%;
    }

    p{
        font-size: 15px;
    }

    .dark-theme{
        --bg-1:#121212;
        --bg-2:#ffffff;
        --bg-3:#1b1b1d;
        --primary:#ffffff;
        --color-moon:#ffffff;
    }

    .light-theme{
        --bg-1:#ffffff;
        --bg-2:#353434;
        --bg-3:#f9f9f9;
        --primary:#121212;
        --color-moon:#071636;
    }
}

.logo-gradient{
    /* background: linear-gradient(to right, #8e2de2, #4a00e0); */
    background-color: #7c34e1;
    background-image: linear-gradient(
        45deg,
        #3adcd7 16.666%, 
        #37c8ec 16.666%, 
        #4852dc 33.333%, 
        #3945e8 33.333%, 
        #6244d9 50%, 
        #562ff0 50%, 
        #8a4ec3 66.666%, 
        #9234e9 66.666%, 
        #b83b8c 83.333%, 
        #e33866 83.333%);

        background-size: 100%;
        background-repeat: repeat;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; 

        animation: rainbow-text-simple-animation-rev 0.75s ease forwards;
    }
    
.logo-gradient:hover{
    animation: rainbow-text-simple-animation 0.5s ease-in forwards;
}

.mobile-icon-rotation{
    transform: rotateY(180deg);
}

.grid-about{
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    gap: 40px;
}

.grid-projects{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 40px;
}

.line::before{
    background-color: var(--bg-2);
    display: inline-block;
    content: "";
    width: 40px;
    height: 3px;
    position: absolute;
    top: 0;
    left: 0;
}

.form-button{
    position: relative;
    display: flex;
    align-items:center;
    justify-content:center;
    padding: 5px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    border: 2px solid #6244d9;
    overflow: hidden;
    cursor: pointer;
    width: 100%;
    margin: 0 auto;
}

.form-button::before {
    content: "";
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: #6244d9;
    border-radius: 50%;
    transform:scale(0);
    transition: all 0.3s ease-in-out;
    z-index:1;
  }
  
  .form-button span{
    color: #6244d9;
    display:block;
    z-index:2;
  }
  
  .form-button:hover span{
      color: white;
  }

  .form-button:hover::before {
    transform:scale(3);
  }


@media (min-width:768px){
    .grid-about{
        grid-template-columns: 3fr 2fr;
    }
}

/* Animations */

.fade-in {
	-webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }


@keyframes rainbow-text-simple-animation-rev {
    0% {
        background-size: 650%;
    }
    40% {
        background-size: 650%;
    }
    100% {
        background-size: 100%;
    }
}

@keyframes rainbow-text-simple-animation {
    0% {
        background-size: 100%;
    }
    80% {
        background-size: 650%;
    }
    100% {
        background-size: 750%;
    }
}